.card-time {
    width: 38vh;
    height: 38vh;
    border-radius: 30px;
    border: 4px solid #0F6DE7;
    background: rgba(15, 109, 231, 0.29);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
    margin-top: 15vh;
}

.circle {
    position: absolute;
    top: -25%;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #0F6DE7;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-time h2 {
    color: #0F6DE7;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    position: relative;
    bottom: 25px;
}

.card-time h3 {
    color: #0B4591;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    bottom: 15px;
}

.card-time .cargo2 {
    color: #0B4591;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    bottom: 15px;
}

.social-media {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.social-media p {
    color: white;
    font-size: 0.8rem;
    font-family: Poppins;
    font-weight: 500;
}

.social-item {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 25px;
    color: white;
}

.social-item p {
    margin-left: 15px;
}

.icon {
    font-size: 1.2rem;
}

.linkedin {
    background-color: #0A66C2;
}

.github {
    background-color: #000;
}

.time1,
.time2 {
    display: flex;
    gap: 30px;
}

.time1 {
    margin-bottom: -35px;
}

/* */
@media (max-width: 420px) {

    .card-time {
        width: 30vh;
        height: 30vh;
        border-radius: 30px;
        border: 4px solid #0F6DE7;
        background: rgba(15, 109, 231, 0.29);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        position: relative;
        margin-top: 15vh;
    }

    .circle {
        position: absolute;
        top: -25%;
        width: 14vh;
        height: 14vh;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #0F6DE7;
    }

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .card-time h2 {
        color: #0F6DE7;
        font-family: Inter, sans-serif;
        font-size: 2rem;
        font-weight: 800;
        position: relative;
        top: 0px;
    }

    .card-time h3 {
        color: #0B4591;
        font-family: Inter, sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        top: 0px;
    }

    .card-time .cargo2 {
        color: #0B4591;
        font-family: Inter, sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        top: 0px;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 10px;
    }

    .social-media p {
        color: white;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 500;
    }

    .social-item {
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
        padding: 7px;
        border-radius: 25px;
        color: white;
    }

    .social-item p {
        margin-left: 15px;
    }

    .icon {
        font-size: 1.5rem;
    }

    .linkedin {
        background-color: #0A66C2;
    }

    .github {
        background-color: #000;
    }
    
    .time1,
    .time2 {
        display: block;
    }

    .time1 {
        margin-bottom: 0px;
    }
}


/* */
@media (max-width: 576px) {
    
    .card-time {
        width: 30vh;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        position: relative;
    }

    .circle {
        position: absolute;
        width: 16vh;
        height: 16vh;
        overflow: hidden;
        top: -25%;
    }

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-time h2 {
        font-size: 1.8rem;
        padding: 10px;
        position: relative;
        top: 0px;
    }

    .card-time h3, .card-time .cargo2 {
        font-size: 1.6rem;
        position: relative;
        top: 0px;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        width: 25vh;
        gap: 5px;
    }

    .social-media p {
        font-size: 0.9rem;
    }

    .social-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 25px;
    }

    .icon {
        font-size: 1.4rem;
    }

    .time1,
    .time2 {
        display: block;
    }

    .time1 {
        margin-bottom: 0px;
    }
}