.sobre-nos h1 {
    text-align: center;
    color: var(--third-color);
    font-family: Inter;
    font-size: 5rem;
    font-weight: 800;
    line-height: normal;
    margin-top: 60px;
}

.sobre-nos-subtitulo {
    color: var(--third-color);
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 50px;
    margin-bottom: -60px;
}

.sobre-nos-imagens {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.bonecos-image {
    max-width: 85%;
    height: auto;
}

.nossos-valores {
    margin-bottom: 120px;
}

.titulo-valores {
    font-size: 3.5rem;
    color: var(--third-color);
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    width: 40vh;
    height: 40vh;
    perspective: 1000px;
}

.cards-valores {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-front,
.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: var(--room-color);
    background: linear-gradient(180deg, #FE5F55 0%, #D65048 43.5%);
    border-radius: 8px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    font-family: var(--secondary-font);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.card p {
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    color: var(--room-color)
}

.card-back p {
    font-size: 1rem;
    color: var(--room-color);
    margin: 0;
    text-align: center;
}

.icon-container {
    font-size: 7vh;
    margin-bottom: 10px;
}

.card-back ul {
    padding: 0;
    margin-left: 20px;
    text-align: start;
}

.card-back li {
    font-size: 1.1rem;
}

.card-equipe {
    background: linear-gradient(90deg, #87DEF8 0%, #3EBEE5 100%);
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 100px;
    margin-bottom: 40px;
}

.card-equipe h2 {
    color: #06408B;
    font-family: var(--primary-font);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.card-equipe p {
    color: var(--third-color);
    text-align: center;
    font-family: Poppins;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.equipe-desenvolvimento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 110px;
}

.card-neuron {
    background-color: var(--fifth-color);
    border-radius: 40px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    gap: 20px;
    text-align: left;
    margin-bottom: 50px;
}

.card-neuron h2 {
    color: var(--room-color);
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.card-neuron p {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 0;
    color: var(--room-color);
}

.card-neuron img {
    width: 40vh;
    height: 40vh;
}

@media (max-width: 576px) {

    .sobre-nos h1 {
        font-size: 3rem;
    }

    .sobre-nos-subtitulo {
        font-size: 1.3rem;
        margin-bottom: 0px;
    }

    .bonecos-image {
        width: 100%;
    }


    /* Card de Missão, Visão e Valores */
    
    .nossos-valores {
        margin-bottom: 50px;
    }

    .titulo-valores {
        font-size: 2rem;
    }

    .card {
        width: 14vh;
        height: 20vh;
    }

    .cards-valores {
        gap: 5px;
    }

    .card h3 {
        font-size: 1.1rem;
        margin: 0;
    }
    
    .card p {
        font-size: 0.9rem;
        line-height: 1.3;
    }
    
    .icon-container {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .card-back p {
        font-size: 0.7rem;
        margin: 0;
    }

    .card-back li {
        font-size: 0.7rem;
    }


    /* Card - Conheça a nossa equipe */

    .card-equipe {
        text-align: center;
        margin: 25px;
        margin-bottom: 0px;
        padding: 20px;
    }
    
    .card-equipe h2 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    .card-equipe p {
        text-align: start;
        font-size: 1rem;
    }

    /* Card - Equipe inteira */
    .equipe-desenvolvimento {
        margin-bottom: 100px;
    }

    /* Card - Por que "Neuron"? */

    .card-neuron {
        width: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 0 auto;
        gap: 0px;
        text-align: left;
        margin-bottom: 50px;
    }
    
    .card-neuron h2 {
        font-size: 2.6rem;
        position: relative;
        bottom: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-neuron p {
        font-size: 1.6rem;
        line-height: 1.4;
        margin: 5px;
        margin-bottom: 30px;
    }
    
    .card-neuron img {
        width: 20vh;
        height: 25vh;
    }
}