.login-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.login-purple-background {
    background: linear-gradient(161deg, #B40FE7 -0.39%, #7A059F 50.2%, #410355 100.79%);
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.login-logo {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 12vh;
    z-index: 2;
}

.login-junin {
    width: 80vh;
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    z-index: 3;
}

.login-titulo {
    text-align: center;
    margin-bottom: 30px;
}

.login-titulo h1,
.login-titulo p {
    font-size: 2rem;
    color: #B40FE7;
    font-weight: 700;
    font-family: Inter;
}

.login-titulo p {
    margin-top: 30px;
}

.login-form-container {
    background-color: #EEF5DB;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    padding: 20px;
}

.login-form-container input {
    width: 55vh; /* Largura do input agora ocupa 100% do contêiner */
    height: 6vh; /* Altura do input */
    padding: 10px 10px 10px 50px; /* Espaçamento interno (superior, direito, inferior, esquerdo) */
    border: 2px solid #B40FE7; /* Borda com cor personalizada */
    border-radius: 40px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
    font-size: 1rem; /* Tamanho da fonte */
    outline: none; /* Remove o contorno padrão do input */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animação para borda e sombra */
}

.login-form-container input:focus {
    font-size: 0.9rem;
    border-color: #9F12CB; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(147, 112, 219, 0.5); /* Sombra ao focar */
}

.login-input-container {
    position: relative; /* Para posicionar o ícone em relação ao input */
    width: 80%; /* Certifique-se de que ocupa 100% do contêiner */
    max-width: 400px; /* Limite a largura máxima para centralização */
    margin-bottom: 25px; /* Espaço entre os inputs */
}

.login-input::placeholder {
    font-size: 1.2rem;
    transition: font-size 0.3s ease, color 0.3s ease; /* Animação para tamanho e cor da fonte */
    color: #A0A0A0;
}

.login-input:focus::placeholder {
    font-size: 1rem; /* Tamanho da fonte ao focar */
}

.login-icon {
    font-size: 1.4rem; /* Tamanho do ícone */
    position: absolute; /* Permite posicionar o ícone dentro do input */
    left: 20px; /* Ajuste a posição horizontal do ícone (pode ser necessário ajustar conforme necessário) */
    top: 50%; /* Alinha verticalmente o ícone */
    transform: translateY(-50%); /* Ajuste vertical para centralização */
    color: #B40FE7; /* Cor do ícone */
}

.icon-eye {
    cursor: pointer;
}

.login-link-container {
    text-align: right;
    width: 50%;
    margin-bottom: 10px;
}

.login-link-container a {
    color: #B40FE7;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Jost;
}

.login-link-container a:hover {
    text-decoration: underline;
}

.login-button-container {
    display: flex;
    flex-direction: column; /* Coloca os botões um em cima do outro */
    align-items: center; /* Centraliza horizontalmente */
    gap: 15px; /* Espaçamento entre os botões */
}

.login-btn,
.login-create-account-btn {
    width: 250%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-family: Jost;
    cursor: pointer;
    position: relative; /* Para que o transform funcione em relação ao botão */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animação para mudança de cor e transformação */
}

.login-btn {
    background: var(--fifth-color); /* Cor para o botão "Fazer Login" */
}

.login-create-account-btn {
    background: #8605ae; /* Nova cor para o botão "Criar Conta" */
}

/* Efeitos ao passar o mouse */
.login-btn:hover,
.login-create-account-btn:hover {
    transform: translateY(-3px); /* Levanta o botão */
    opacity: 0.9; /* Leve diminuição da opacidade */
}

/* Escala o texto dos botões */
.login-btn span,
.login-create-account-btn span {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    transform: scale(1.1); /* Escala o texto em 10% */
}