.nova-senha-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.nova-senha-background {
    background: linear-gradient(161deg, #FE5F55 -0.39%, #C24740 50.2%, #66231F 100.79%);
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative; /* Certifique-se de que o container é relativo */
}

.nova-senha-forms {
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nova-senha-titulo {
    text-align: center;
    margin-bottom: 30px; /* Reduza a margem inferior para subir o título */
    margin-top: 0; /* Remova a margem superior se estiver presente */
}

.nova-senha-titulo h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #E4554C;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0; /* Mantenha a margem em 0 para evitar espaço extra */
    font-family: Inter;
}

.nova-senha-input-container {
    display: flex;
    align-items: center; /* Alinha os ícones e os inputs verticalmente */
    position: relative;
    margin-bottom: 20px;
}

.nova-senha-input-container input {
    width: 53vh;
    height: 6vh;
    padding: 10px 10px 10px 47px; /* Ajuste para o ícone à esquerda */
    border: 2px solid var(--primary-color);
    border-radius: 40px;
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.2s;
}

.nova-senha-input-container input:focus {
    box-shadow: 0 0 5px rgb(254, 95, 85, 0.5);
}

.nova-senha-input-container input::placeholder {
    color: #A0A0A0; 
    font-style: Poppins;
    transition: font-size 0.3s ease, transform 1.0s ease; 
}

.nova-senha-input-container input:focus::placeholder {
    font-size: 1rem;
}

.nova-senha-icon-container {
    position: absolute; /* Permite que o ícone se sobreponha ao input */
    left: 15px; /* Ajuste a posição horizontal do ícone */
    top: 55%; /* Posiciona verticalmente no meio do input */
    transform: translateY(-50%); /* Centraliza verticalmente o ícone */
    cursor: pointer; /* Muda o cursor ao passar por cima */
}

.nova-senha-icon {
    font-size: 1.6rem; /* Ajuste o tamanho do ícone conforme necessário */
    color: var(--primary-color);
}

.nova-senha-submit-btn {
    width: 32vh;
    padding: 8px;
    background: linear-gradient(90deg, #E2544B 0%, #d9544b 100%);
    color: white;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: Jost;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nova-senha-submit-btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

.nova-senha-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.nova-senha-logo {
    position: absolute; /* Permite que a logo seja posicionada de forma absoluta */
    top: 30px; /* Ajuste a distância do topo */
    right: 35px; /* Ajuste a distância da direita */
    width: 100px; /* Ajuste o tamanho conforme necessário */
}


.nova-senha-junin {
    position: absolute; /* Permite posicionar a imagem do Junin */
    bottom: -5px;
    left: 20%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste para centralizar exatamente */
    width: 80%; /* Ajuste o tamanho conforme necessário */
}
