.footer {
  width: 100%;
  font-family: Jost;
  background-color: var(--third-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
}

.footer p {
  position: relative;
  top: 10px;
  font-size: 1rem;
  opacity: 60%;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-image {
  width: 12vh;
  height: auto;
}

.footer-socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 20px;
}

.footer-socials a {
  color: white;
  transition: color 0.3s;
}

.footer-links {
  display: flex;
  gap: 100px;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* Remover a cor azul e sublinhado dos links */
.footer a {
  color: inherit;
  /* Herda a cor do elemento pai */
  text-decoration: none;
  /* Remove o sublinhado */
}

/* Efeito de hover nos links */
.footer a:hover {
  color: white;
  /* Mantém a cor branca ao passar o mouse */
  text-decoration: underline;
  /* Adiciona sublinhado no hover, se desejado */
}

.footer-section {
  text-align: center;
}

.footer-section h3 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  color: #a0a0a0;
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

/* Estilo para as li com links */
.footer-section li a {
  color: #a0a0a0;
  font-size: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-section li a:hover {
  color: white;
  text-decoration: underline;
  /* Estilo de hover */
}


/* Extra pequeno - Smartphones menores */
@media (max-width: 576px) {

  .footer-section h3 {
    font-size: 1.2rem;
  }

  .footer-section li {
    font-size: 0.8rem;
  }

  .footer-links {
    gap: 35px;
  }

  .footer-copyright p {
    font-size: 0.7rem;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }

  .footer-socials {
    font-size: 1.4rem;
    position: absolute;
    left: 10px;
    bottom: 0px;
  }

  .footer {
    position: relative;
  }

  .footer-logo img {
    display: none;
  }

}

/* Pequeno - Smartphones maiores */
@media (min-width: 577px) and (max-width: 768px) {

  .footer-section h3 {
    font-size: 1.2rem;
  }
  
  .footer-section li a {
    font-size: 1.1rem;
  }

  .footer-links {
    gap: 50px;
  }

  .footer-copyright p {
    font-size: 0.8rem;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }

  .footer-socials {
    font-size: 1.7rem;
    position: absolute;
    left: 10px;
    bottom: 0px;
  }

  .footer {
    position: relative;
  }

  .footer-logo img {
    display: none;
  }

}

/* Médio - Tablets */
@media (min-width: 769px) and (max-width: 992px) {

  .footer-section h3 {
    font-size: 1.5rem;
  }

  .footer-section li {
    font-size: 1rem;
  }
  
  .footer-section li a {
    font-size: 1.3rem;
  }

  .footer-links {
    gap: 40px;
  }

  .footer-copyright p {
    font-size: 1rem;
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }

  .footer-logo {
    position: relative;
    margin-right: 20px;
    top: 10px;
    left: 20px;
  }

  .footer-logo-image {
    width: 8vh;
    height: auto;
  }

  .footer-socials {
    font-size: 2rem;
  }

}

/* Grande - Laptops menores */
@media (min-width: 993px) and (max-width: 1200px) {

  .footer-section h3 {
    font-size: 1.8rem;
  }

  .footer-section li {
    font-size: 1rem;
  }

  .footer-section li a {
    font-size: 1.3rem;
  }

  .footer-links {
    gap: 50px;
  }

  .footer-copyright p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
  }

  .footer-logo {
    position: relative;
    margin-right: 50px;
    top: 20px;
    left: 30px;
  }

  .footer-logo-image {
    width: 8vh;
    height: auto;
  }

  .footer-socials {
    font-size: 2rem;
  }

}

/* Extra grande - Laptops maiores */
@media (min-width: 1201px) and (max-width: 1400px) {

  .footer-section h3 {
    font-size: 2rem;
  }

  .footer-section li {
    font-size: 1rem;
  }

  .footer-section li a {
    font-size: 1.3rem;
  }

  .footer-links {
    gap: 90px;
  }

  .footer-copyright p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
  }

  .footer-logo {
    position: relative;
    margin-right: 20px;
    top: 20px;
    left: 30px;
  }

  .footer-logo-image {
    width: 8vh;
    height: auto;
  }

  .footer-socials {
    font-size: 2rem;
  }

}